/* common */
*{
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
}
.fx-row{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.width-50{
    width: 50%;
    display: inline-block;
}
button{
    background-color: #F5C332;
    border: none;
    padding: 16px;
}
button i {
    padding-right: 10px;
}
ul{
    list-style: none;
}
section{
    padding: 60px 0;
}
p{
    color: #6F6F87;
    font-size: 15px;
} 
h2{
    margin-bottom: 60px;
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: bold;
}
h3{
    font-size: 22px;
    margin-bottom: 15px;
}
/* header */
header{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 5%);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffffffdf;
    height: 80px;
    padding: 10px;
}
header .logo{
    margin-left: 10px;
    color: #F5C332;
    font-size: 36px;
    font-weight: bold;
}
header div{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

header img{
    height: 40px;
}
header ul li { 
    font-size: 16px;
    font-weight: bold;
    padding: 0 30px;
    cursor: pointer;
    color: #303030;
}
header ul  { 
    display: flex;
}
/* s1 */
.s1{
    margin-top: 80px;
}
.s1 h1{
    font-size:72px;
    letter-spacing:-1px;
    color: #303030;
}
.s1 button {
    margin-top: 20px;
    margin-right: 20px;
}
.s1 img{
    width: 100%;
}
.s1::after{
    content: '';
    height: 40vw;
    width: 300%;
    background-color: #F9FAFC;
    position: absolute;
    top: 500px;
    left: -100%;
    transform: rotate(-30deg);
    z-index: -1;
}

/* s2 */
.s2 > div{
    margin: 100px 0;
}
.s2 img{
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0 6px 6px rgb(0 0 0 / 5%);
}
.s2 .steps{
    padding-left: 80px;
}  
.s2 .number{
    min-width: 62px;
    margin-right: 30px;
    color: #F5C332;
    font-size: 42px;
    line-height: 36px;
}
.s2 li{
    margin-bottom:60px
} 
 